@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Poppins:wght@200;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&family=Poppins:wght@200;300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:sans-serif;
  max-width: 100%;
}
.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  padding:20px 8%;
  display: flex;
  align-items: flex;
  justify-content: space-between;
}
nav .logo{
  width: 130px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li  a{
  text-decoration: none ;
  color: #fff;
  font-size: 17px;
}
.content{
  text-align: center;
}
.content h1{
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 3px solid #fff;
  padding:14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}
.back-video{
  position: absolute;
  right:0;
  bottom:0;
  z-index: -1;  
}
@media (max-aspect-ratio:16/9){
  .back-video{
    width:auto;
    height: 100px;
  }
}
.contentmain{
  background-color:		#F5F5F5;
  border-radius: 20px;

}
.aftercover img{
  float:right;
  border-radius:60% ;
  margin-top:25px;
}
.body{
  overflow: hidden;
  max-width: 100%;
}
.content1 p{
  margin-left: 15px;
  margin-right: 250px;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
  font-size: 27px;
  color:#2c3e50;
  padding: 35px;
  border-radius: 15px;
  font-weight: 400;
}
.demo1{
  background-color: white;
}
.heading1 h1{
  margin-bottom: 43px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-weight:600;
background: linear-gradient(to top, white, black);
-webkit-background-clip: text;
color: transparent;
}
.p1 p{
  margin-left: 15px;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
font-size: 27px;
  color:#2c3e50;
  padding: 35px;
  border-radius: 15px;
  font-weight: 400;
}
div.scroll-container {
  background-color:white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
div.scroll-container img {
  padding: 10px;
  border-radius: 40px;
  margin-top: 0%;
  margin-bottom:0%;
}
.gallery{
  position:relative;
  width:300px;
  height:200px;
  transform-style:preserve-3d;
  animation:rotate 35s linear infinite;
}
@keyframes rotate{
  from{
    transform:perspective(1200px) rotateY(0deg);
  }
  
  to{
    transform:perspective(1200px) rotateY(360deg);
  }
}
.gallery span{
  position:absolute;
  width:100%;
  height:100%;
  transform-origin:center;
  transform-style:preserve-3d;
  transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}
.gallery span img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}
html{
  scroll-behavior: smooth;
}
.gallery12{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-weight:600;
background: linear-gradient(to top, white, black);
-webkit-background-clip: text;
color: transparent;
margin-bottom: 25px;
}
.video1{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-size: 50px;
font-weight:600;
background: linear-gradient(to top, white, black);
-webkit-background-clip: text;
color: transparent;
margin-bottom: 40px;
margin-top: 10px;
}
.bgbhai{
  
  background: white; 
}
.footer {
  padding: 40px 0;
  background-color:#F5F5F5;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}





